<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('show_home') }}">
    <i class="fas fa-home mr-2"></i> Home
  </a>
</li>

<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('report_found') }}">
    <i class="fas fa-upload mr-2"></i> Report Found
  </a>
</li>

<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('items_found') }}">
    <i class="fas fa-box-open mr-2"></i> Found Items
  </a>
</li>

<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('my_claims') }}">
    <i class="fas fa-clipboard-check mr-2"></i> My Claims
  </a>
</li>

{% if 'admin' in roles %}
  <li class="nav-item">
    <a class="nav-link text-warning" href="{{ url_for('view_requests') }}">
      <i class="fas fa-user-check mr-2"></i> Requests
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-warning" href="{{ url_for('allow_reports') }}">
      <i class="fas fa-clipboard-list mr-2"></i> Allow Reports
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-warning" href="{{ url_for('admin_search') }}">
      <i class="fas fa-search mr-2"></i> Admin Search
    </a>
  </li>
{% endif %}

<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('settings') }}">
    <i class="fas fa-cog mr-2"></i> Settings
  </a>
</li>

<li class="nav-item">
  <a class="nav-link text-white" href="{{ url_for('logout') }}">
    <i class="fas fa-sign-out-alt mr-2"></i> Logout
  </a>
</li>
