<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p> Please enter the Somaiya Email Id to whom you want to send a friend request</p>  
  <form>
    <label for="friendEmail">Email address:</label>
    <input type="email" id="friendEmail" name="friendEmail" placeholder="example@somaiya.edu" required>
    <button type="submit">Send Friend Request</button>
  </form>
</body>
</html>